<div class="container">
  <h1>A closer look</h1>

  <p><%= @picture.title %> | <%= @picture.artist %></p>
  <%= image_tag @picture.url %>

  <div class="container">
    <%= link_to "Back", pictures_path, class: "testtest" %>
    <%= link_to "Edit", edit_picture_path, class: "testtest" %>
    <%= link_to "Delete", @picture, method: :delete, data: {confirm: "Are you sure you want to delete this photo?" }, class: "testtest" %>
  </div>

</div>
